@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Steer73.RockIT.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Steer73.RockIT.Web.Pages.DiversityFormResponses
@using Steer73.RockIT.DiversityFormResponses;
@using System.Globalization
@inject IHtmlLocalizer<RockITResource> L
@model CreateModalModel
@{
    Layout = null;
}


<form data-ajaxForm="true" asp-page="/DiversityFormResponses/CreateModal" autocomplete="off">
    <abp-modal id="DiversityFormResponseCreateModal">
        <abp-modal-header title="@L["NewDiversityFormResponse"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
                
                    <abp-input asp-for="JobApplicationId" />
                    

            <abp-input asp-for="DiversityFormResponse.FormStructureJson" text-area   />


            <abp-input asp-for="DiversityFormResponse.FormResponseJson" text-area   />

                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
