<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer__logo">
                <img src="~/images/logo/logo-white.svg" alt="Perrett Laver" />
            </div>
            <div class="col-lg-6">
                <h6 class="light-pink medium">Useful Links</h6>
                <ul class="footer__menu">
                    <li class="footer__menu__item">
                        <a href="https://perrettlaver.com/expertise/" class="footer__menu__item__link">Expertise</a>
                    </li>
                    <li class="footer__menu__item">
                        <a href="https://perrettlaver.com/services/" class="footer__menu__item__link">Services</a>
                    </li>
                    <li class="footer__menu__item">
                        <a href="https://perrettlaver.com/case-studies/" class="footer__menu__item__link">Case Studies</a>
                    </li>
                    <li class="footer__menu__item">
                        <a href="https://perrettlaver.com/people/" class="footer__menu__item__link">People</a>
                    </li>
                    <li class="footer__menu__item">
                        <a href="https://perrettlaver.com/about/" class="footer__menu__item__link">About</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="footer__secondarymenu">
                    <li class="footer__secondarymenu__item">
                        <a href="https://perrettlaver.com/insights/" class="footer__secondarymenu__item__link">Insights</a>
                    </li>
                    <li class="footer__secondarymenu__item">
                        <a href="https://perrettlaver.com/news/" class="footer__secondarymenu__item__link">News</a>
                    </li>
                    <li class="footer__secondarymenu__item">
                        <a href="https://perrettlaver.com/about/our-office-locations/" class="footer__secondarymenu__item__link">Locations</a>
                    </li>
                    <li class="footer__secondarymenu__item">
                        <a href="https://perrettlaver.com/about/" class="footer__secondarymenu__item__link">Our Purpose & Values</a>
                    </li>
                    <li class="footer__secondarymenu__item">
                        <a href="https://perrettlaver.com/about/our-policies/" class="footer__secondarymenu__item__link">Our polices</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="d-none d-lg-block">
        <div class="row social-roles">
            <div class="col-lg-4">
                <div class="footer__social">
                    <a href="https://www.instagram.com/perrettlaver/" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24">
							<path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" fill="#FFD4EB"></path>
						</svg>
					</a>
                    <a href="https://twitter.com/PerrettLaver" target="_blank">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.0413664 0L6.60487 8.82491L0 16H1.48661L7.26929 9.71796L11.9414 16H17L10.0671 6.67879L16.2149 0H14.7283L9.40292 5.78545L5.1 0H0.0413664ZM2.22749 1.10103H4.5514L14.8136 14.899H12.4897L2.22749 1.10103Z" fill="#FFD4EB" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/company/perrett-laver" target="_blank">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 15H11.918V9.75061C11.918 8.31137 11.3711 7.50708 10.2319 7.50708C8.99268 7.50708 8.34521 8.34407 8.34521 9.75061V15H5.375V5H8.34521V6.347C8.34521 6.347 9.23828 4.69449 11.3604 4.69449C13.4814 4.69449 15 5.98975 15 8.66862V15ZM1.83154 3.69058C0.819824 3.69058 0 2.86432 0 1.84529C0 0.826257 0.819824 0 1.83154 0C2.84326 0 3.6626 0.826257 3.6626 1.84529C3.6626 2.86432 2.84326 3.69058 1.83154 3.69058ZM0.297852 15H3.39502V5H0.297852V15Z" fill="#FFD4EB" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="medium">Discover available roles matching your skills and aspirations by exploring current positions.</h6>
            </div>
            <div class="col-lg-2">
                <a href="/" class="footer__positions"><span>Open Roles</span></a>
            </div>
        </div>
        <hr>
        <div class="footer__about">
            <div class="row">
                <div class="col-lg-6 offset-lg-4">
                    <h6 class="medium">Our role is to connect the most influential and vibrant organisations in our sectors with the highest capacity and most dynamic leaders – based on a common set of values and a shared vision for the future.</h6>
                    <h6 class="medium">We are genuinely passionate about our client organisations. Our understanding of each client’s values and culture ensures we identify candidates from both traditional and unconventional sources, who can bring fresh thinking and make a real impact. It also enables us to represent our clients candidly and accurately, giving a realistic appraisal of the differentiators, opportunities and challenges that will attract the strongest individuals.</h6>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer__bottom">
            <div class="row">
                <div class="col-lg-5 col-xl-4">
                    <h6 class="medium">© 2024 Perrett Laver. All rights reserved.</h6>
                </div>
                <div class="col-lg-2 col-xl-4">
                    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.0469 23.0469H3.95665V3.95665H23.0469V23.0469ZM13.5 0C6.04282 0 0 6.04282 0 13.5C0 20.9572 6.04282 27 13.5 27C20.9572 27 27 20.9572 27 13.5C27 6.04282 20.9572 0 13.5 0Z" fill="#FFD4EB" />
                    </svg>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <ul class="footer__bottom__menu">
                        <li class="footer__bottom__menu__item">
                            <a href="https://perrettlaver.com/privacy-policy/" class="footer__bottom__menu__item__link">Privacy Statement</a>
                        </li>
                        <li class="footer__bottom__menu__item">
                            <a href="https://perrettlaver.com/terms-of-use/" class="footer__bottom__menu__item__link">Terms of use</a>
                        </li>
                        <li class="footer__bottom__menu__item">
                            <a href="https://perrettlaver.com/our-use-of-cookies/" class="footer__bottom__menu__item__link">Cookies</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>