<header class="header">
	<div class="container">
		<a href="/" class="header__logo">
			<img src="~/images/logo/logo.svg" alt="Perrett Laver" class="d-none d-lg-block" />
			<img src="~/images/logo/logo-mobile.svg" alt="Perrett Laver" class="d-block d-lg-none" />
		</a>
		<div class="header__content">
			<nav class="header__nav">
				<ul class="header__menu">
					<li class="header__menu__item">
						<a href="/Search" class="header__menu__item__link">
							<span>Job Search</span>
						</a>
					</li>
					<li class="header__menu__item">
						<a href="https://perrettlaver.com/about/contact-us" class="header__menu__item__link">
							<span>Contact</span>
						</a>
					</li>
				</ul>
				<a href="/" class="header__roles__mobile">
					<span>Open Roles</span>
				</a>
				<div class="header__social">
					<a href="https://twitter.com/PerrettLaver" target="_blank">
						<img src="~/images/x.svg" alt="X" />
					</a>
					<a href="https://www.linkedin.com/company/perrett-laver" target="_blank">
						<img src="~/images/linkedin.svg" alt="Linkedin" />
					</a>
				</div>
			</nav>
			<button class="header__burger" type="button">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<a href="/" class="header__roles">
				<span>Open Roles</span>
			</a>
		</div>
	</div>
</header>
<div class="overlay"></div>