.form {
    &-control {
        padding: 1.2rem 1.6rem;
        gap: 1.2rem;
        border-radius: 4px;
        border: 1px solid $midgrey2;
        opacity: 0px;
        background-color: var(--bs-white);
        font-size: 1.2rem;
    }

    &-checkbox {
        display: none;

        &+label {
            position: relative;
            padding-left: 3.5rem;
            cursor: pointer;
            font-size: 1.3rem;
        }

        &+label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2rem;
            height: 2rem;
            border: 2px solid $midgrey2;
            background: var(--bs-white);
        }

        &:checked+label:before {
            border-color: $pink;
            background-color: $pink;
        }

        &:checked+label:after {
            content: '\2714';
            position: absolute;
            left: 4px;
            top: -1px;
            color: var(--bs-white);
            font-size: 1.5rem;
        }
    }

    &-label {
        font-size: 1.2rem;
        font-weight: 400;
        color: $midgrey2;
    }

    &-file-upload {
        & input {
            display: none;
        }

        & .drop-zone {
            width: 100%;
            padding: 1.5rem;
            border: 2px dashed $pink;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
            color: $pink;
            font-size: 1.6rem;
            background-color: $lightpink2;

            &:hover {
                color: var(--bs-white);
                background-color: $pink;
                border-color: var(--bs-white);
            }
        }
    }


}

form {
    & .subtitle {
        font-size: 1.2rem;
        color: $midgrey1;
    }
}

.field-validation-error {
    font-size: 1.2rem;
    font-weight: 400;
}