//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.header {
	background-color: #F0F2F4;
	position: fixed;
	top: 0;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	left: 0;
	width: 100%;
	z-index: 6;
	@include transition(transform .6s $custom);

	@include breakpoint(1200px) {
		padding: 0.4rem 0;

		&__logo {
			position: relative;
			z-index: 2;
		}
	}

	@include breakpoint(991px) {
		padding: 1.6rem 0;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		mix-blend-mode: multiply;
		background-color: $grey;
		opacity: 0;
		@include transition(all 0.4s $smooth);
	}

	&__burger {
		display: none;

		@include breakpoint(1200px) {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
			appearance: none;
			padding: 0;
			background-color: transparent;
			border: none;
			z-index: 2;
			position: relative;

			span {
				display: block;
				width: 2.4rem;
				height: 1.5px;
				background-color: $grey;
				@include transition(all 0.6s $smooth);

				&:nth-child(2) {
					margin: 0.6rem 0;
				}

				&:nth-child(3) {
					width: 1.6rem;
					margin-left: auto;
				}
			}

			&.close {
				span {
					&:nth-child(2) {
						opacity: 0;
						visibility: hidden;
					}

					&:nth-child(1) {
						@include transform(rotate(-45deg) translate(-.3rem, 0.6rem));
					}

					&:nth-child(3) {
						width: 2.4rem;
						@include transform(rotate(45deg) translate(-.4rem, -0.7rem));
					}
				}
			}
		}
	}

	&.with-overlay {
		&:before {
			opacity: 0.2;
		}
	}

	&.hide {
		@include transform(translate3d(0, -100%, 0));
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__nav {
		@include breakpoint(1200px) {
			opacity: 0;
			visibility: hidden;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #fff;
			height: 100%;
			@include transition(all 0.6s $smooth);

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 8rem;
				background-color: $lightgrey;
				@include transition(all .4s $custom);
			}

			&.show {
				opacity: 1;
				visibility: visible;

				& + .header__search {
					opacity: 0;
					visibility: hidden;

					& ~ .header__switch {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			&.show-submenu {
				.header__roles__mobile {
					opacity: 0;
					visibility: hidden;
					@include transition(all 0.4s $smooth);
				}

				.header__social {
					opacity: 0;
					visibility: hidden;
					@include transition(all 0.4s $smooth);
				}

				&:before {
					width: calc(100% - 2.4rem);
				}

				.header__menu__item__link {
					opacity: 0;
					visibility: hidden;
					@include transform(translate3d(-80vw, 0, 0));
				}

				& + .header__search {
					opacity: 0;
					visibility: hidden;

					& ~ .header__switch {
						opacity: 0;
						visibility: hidden;
						@include transition(all 0.4s $smooth);
					}
				}
			}
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		margin-top: 1rem;

		@include breakpoint(1200px) {
			display: block;
			margin: 0;
			padding-top: 14rem;
			padding-left: 2.4rem;
		}


		&__item {
			margin-right: 2.4rem;
			padding-bottom: 1.6rem;

			&__link {
				color: #000;
				font-weight: 600;
				font-size: 1.6rem;
				position: relative;
				display: flex;
				align-items: center;

				&:before {
					content: '';
					display: block;
					position: absolute;
					bottom: -14px;
					left: 0;
					width: 100%;
					height: 4px;
					background-color: $ctapink;
					transform-origin: right center;
					@include transform(scaleX(0));
					@include transition(transform 0.5s $smooth);
					z-index: 1;
					pointer-events: none;
				}

				@include breakpoint(1200px) {
					font-family: 'Merriweather';
					font-size: 2.4rem;
					line-height: 3rem;
					color: $grey;
					font-weight: 300;
					@include transition(all .4s $custom);

					&:before {
						display: none;
					}
				}
			}

			.submenu {
				position: absolute;
				width: 22.7rem;
				background-color: #fff;
				border-radius: 0px 4px 4px 4px;
				padding: 2rem 4rem 2rem 2.4rem;
				margin-top: 10px;
				opacity: 0;
				visibility: hidden;

				&__back {
					display: none;
				}

				&__item {
					margin-bottom: 2rem;

					&__link {
						display: block;
						font-size: 1.4rem;
						line-height: 1.8rem;
						color: $grey;
						font-weight: 600;
						@include transition(color 0.4s $smooth);

						@media screen and (min-width: 1201px) {
							&:hover {
								color: $pink;
							}
						}
					}
				}

				@include breakpoint(1200px) {
			    top: 14rem;
			    background: transparent;
			    left: 0;
			    padding: 0 0 0 4.8rem;
			    margin: 0;
			    width: calc(100% - 4.8rem);
			    overflow-y: auto;
    			max-height: 65vh;
			    @include transform(translate3d(80vw, 0 , 0));
			    @include transition(all .4s $custom);

			    &.show {
			    	opacity: 1;
			    	visibility: visible;
			    	@include transform(translate3d(0, 0 , 0));
			    }

			    &__back {
			    	display: block;
			    	margin-bottom: 2rem;

			    	&__link {
			    		display: flex;
			    		align-items: center;
			    		padding-bottom: 1rem;
			    		border-bottom: 1px solid rgba(167, 171, 178, .5);
			    		color: $grey;
			    		font-size: 1.4rem;
			    		font-weight: 600;

			    		&:before {
			    			content: '';
			    			display: block;
			    			height: 2.1rem;
			    			width: 2.1rem;
			    			background: url(../../img/arrow-back.svg) no-repeat center;
			    			background-size: contain;
			    			margin-right: 0.6rem;
			    		}
			    	}
			    }

			    &__item {

			    	&__link {
				    	font-size: 1.8rem;
				    	line-height: 2.4rem;
				    	font-weight: 400;
				    	padding-left: 2.4rem;
			    	}
			    }
				}
			}

			&.parent {
				.header__menu__item__link {
					&:after {
						content: '';
						display: block;
						width: 9px;
						height: 1.4rem;
						background: url(../../img/arrow-menu.svg) no-repeat center;
						background-size: contain;
						margin-left: 0.4rem;
						@include transition(transform 0.3s $smooth);

						@include breakpoint(1200px) {
							@include transform(rotate(-90deg));
							margin-top: 0.2rem;
						}
					}
				}

				@media screen and (min-width: 1201px) {
					&:hover {
						.header__menu__item__link {
							&:after {
								@include transform(rotate(180deg) translateY(-4px));
							}
						}
					}
				}
			}

			@media screen and (min-width: 1201px) {
				&:hover {
					.header__menu__item__link {
						&:before {
							@include transform(scaleX(1));
							transform-origin: left center;
						}
					}

					.submenu {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	&__search {
		appearance: none;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		border: none;
		margin: 0 3rem 0 1rem;

		@include breakpoint(1200px) {
			margin: 0 2rem 0 0;
			position: relative;
			z-index: 2;
		}

		svg {
			display: block;

			path {
				@include transition(fill 0.4s $smooth);
			}
		}

		&:hover {
			svg {
				path {
					fill: $pink;
				}
			}
		}
	}

	&__social {
		display: none;

		@include breakpoint(1200px) {
			display: block;
			position: absolute;
			bottom: 16rem;
			right: 0;
			width: 8rem;

			a {
				display: flex;
				justify-content: center;
				width: 100%;

				&:first-child {
					margin-bottom: 1.6rem;
				}
			}
		}

		@media screen and (max-height: 700px) {
			bottom: 5rem;
		}
	}

	&__roles {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 4rem;
		background-color: $grey;
		color: #fff;
		padding: 0 2.4rem;
		border-radius: 100px;
		@include transition(all 0.6s $smooth);

		@include breakpoint(1200px) {
			display: none;
		}

		&:before {
			content: '';
			display: block;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color: $ctapink;
			margin-right: 1rem;
		}

		&:hover {
			background-color: $pink;
		}

		&__mobile {
			display: none;
			margin: 0 0 0 2.4rem;
			align-items: center;
			justify-content: center;
			height: 4.8rem;
			background-color: $grey;
			color: #fff;
			font-size: 1.6rem;
			font-weight: 700;
			min-width: 20.5rem;
			padding: 0 2.4rem;
			border-radius: 100px;
			@include transition(all 0.6s $smooth);
			position: absolute;
			bottom: 16rem;

			@include breakpoint(991px) {
				display: inline-flex;
			}

			&:before {
				content: '';
				display: block;
				height: 8px;
				width: 8px;
				border-radius: 50%;
				background-color: $ctapink;
				margin-right: 1rem;
			}

			@media screen and (max-height: 700px) {
				bottom: 5rem;
			}
		}
	}

	&__switch {
		margin-left: 2rem;
		cursor: pointer;
		position: relative;

		@include breakpoint(1200px) {
			position: absolute;
			margin: 0;
			right: 10rem;
			opacity: 0;
			visibility: hidden;
			z-index: 2;
			@include transition(all 0.4s $smooth);
		}

		&__icon {
			margin-right: 0.4rem;
		}

		&__arrow {
			display: block;
			width: 9px;
			height: 6px;
			background: url(../../img/arrow-switch.svg) no-repeat center;
			background-size: contain;
			margin-left: .6rem;
		}

		.current {
			display: flex;
			align-items: center;
			background-color: #fff;
			border-radius: 100px;
			height: 2.4rem;
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.4rem;
			padding: 0 0.6rem;
			color: $midgrey1;
			position: relative;
			z-index: 1;
		}

		.languages {
			position: absolute;
			background-color: #fff;
			border-radius: 4px;
			padding: 3rem 0 1rem 0;
			width: 7.3rem;
			top: 0;
			left: -1rem;
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.3s $smooth);

			&.show {
				opacity: 1;
				visibility: visible;
			}

			&__item {
				display: flex;
				align-items: center;
				padding: 0 .8rem;
				margin-bottom: 0.4rem;

				.icon {
					display: block;
					height: 8px;
					width: 8px;
					margin-right: 0.4rem;

					&.en {
						background: url(../../img/english.png) no-repeat center;
						background-size: contain;
					}

					&.de {
						background: url(../../img/de.png) no-repeat center;
						background-size: contain;
					}

					&.fr {
						background: url(../../img/france.svg) no-repeat center;
						background-size: contain;
					}

					&.sp {
						background: url(../../img/spain.svg) no-repeat center;
						background-size: contain;
					}
				}

				.text {
					color: $midgrey1;
					text-transform: uppercase;
					font-size: 9px;
					font-weight: 600;
					max-width: 4.4rem;
			    text-overflow: ellipsis;
			    overflow: hidden;
				}

				&:hover {
					.text {
						color: $offblack;
					}
				}
			}
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	mix-blend-mode: multiply;
	background-color: $grey;
	opacity: 0;
	visibility: hidden;
	@include transition(all 0.4s $smooth);
	z-index: 2;

	&.show {
		opacity: 0.2;
		visibility: visible;
	}
}