.btn-description {
    background-color: $grey;
    color: #fff;
}

.practice-group-list {

    & .title {
        margin-bottom: 0.8rem;
    }

    & .side-heading {
        @media screen and (max-width: $breakpoint-sm) {
            margin-bottom: 2rem;
        }
    }
}

.main {
    margin-top: 15rem;
    margin-bottom: 10rem;

    @media screen and (max-width: $breakpoint-lg) {
        margin-top: 8rem;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 30.17px;
        text-align: center;

        @media screen and (max-width: $breakpoint-sm) {
            font-size: 2rem;
            padding: 2rem;
        }

        & span {
            display: block;
        }
    }
}