.search-btn {
    background-color: $pink;
    color: #fff;
    width: auto;
    border-radius: 1rem;
    margin: 0 auto;
}

.search-box {
    padding: 4.5rem 0;

    @media screen and (max-width: $breakpoint-sm) {
        padding: 1rem 0;
        margin-bottom: 2rem;
    }

    label {
        font-size: 1.6rem;
        font-weight: 400;
    }
}

.input-icon-wrapper {
    position: relative;
    flex-grow: 1;
}

.input-icon-wrapper .fa-search {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: $midgrey2;
    pointer-events: none;
}

.keyword-field {
    padding-left: 4rem;
    background-color: white;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
}