.vacancy {

    &__title {
        font-size: 3.2rem;
        font-weight: 700;
    }

    &__subtitle {
        font-size: 1.7rem;
        font-weight: 400;
    }

    &__details {
        & img {
            width: 8.7rem;
            height: 8.7rem;
            border-radius: 10rem;

            @media screen and (max-width: $breakpoint-sm) {
                width: 3.8rem;
                height: 3.8rem;
            }
        }

        & .title {
            font-size: 3.6rem;
            font-weight: 700;

            @media screen and (max-width: $breakpoint-sm) {
                font-size: 3rem;
            }
        }

        & .reference {
            align-self: flex-start;
        }

        & .btn {
            @media screen and (max-width: $breakpoint-md) {
                width: 13rem;
                font-size: 1.4rem;
                font-weight: 500;
                align-self: flex-end;
            }
        }
    }

    &__creator {
        padding: 1.6rem;
        display: flex;
        gap: 1rem;

        @media screen and (max-width: $breakpoint-md) {
            padding: 2rem 1rem;
            flex-direction: row;
            justify-content: space-between;
        }

        & img {
            width: 10rem;
            border-radius: 10rem;
        }

        & .title {
            font-size: 2.9rem;
            font-weight: 400;
        }

        &-name {
            color: $pink;
            font-family: Merriweather;
        }
    }

    &__pill {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: $midgrey2;
        color: var(--bs-white);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 4rem;

        @media screen and (max-width: $breakpoint-md) {
            padding: 0 1rem;
            margin: 0;
            flex-direction: column;
            row-gap: 1rem;
        }

        &>div {
            display: flex;
            flex-direction: column;

            & span:first-child {
                font-size: 1.8rem;
                font-weight: 600;
            }

            & span:nth-child(2) {
                font-size: 1.6rem;
                font-weight: 400;
                color: $midgrey1;
            }
        }
    }

    &__action {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1rem;
        margin-top: 2rem;

        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
        }

        & .btn {
            @media screen and (max-width: $breakpoint-md) {
                width: 100%;
            }
        }
    }
}

.form-diversity {
    & .field {
        &>label {
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
        }

        &>div {
            display: flex;
            gap: 1rem;
            margin-bottom: 0.5rem;
            align-items: baseline;
        }
    }
}

.card {
    &__status {
        height: 30rem;
        justify-content: center;
        align-items: center;

        & h1 {
            align-content: center;
            font-size: 4rem;
            line-height: 4.5rem;
        }
    }
}

.vacancy-list {
    & .card {
        padding: 2rem 3rem;

        @media screen and (max-width: $breakpoint-sm) {
            padding: 2rem 1rem;
        }

        & .heading {
            font-size: 2.4rem;
            font-weight: 400;
            margin-bottom: 0.8rem;
        }

        & .list {
            max-height: 45rem;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: $midgrey1 $lightgrey;
        }

    }
}

.vacancy-card {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid $lightgrey;

    &__image {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;

        @media screen and (max-width: $breakpoint-sm) {
            width: 4rem;
            height: 4rem;
        }

        &+div {
            padding: 0 1.5rem;

            @media screen and (max-width: $breakpoint-sm) {
                padding: 0 0.5rem;
            }
        }
    }

    & .title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    & .subtitle {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.vacancy-form {
    padding: 0rem 5rem;

    @media screen and (max-width: $breakpoint-sm) {
        padding: 0rem 1rem;
    }

    & .footer-info {
        & p {
            font-size: 1.3rem;
            font-weight: 400;
            padding: 1rem 0;
        }
    }
}