@page "{practiceGroupId}"
@model Steer73.RockIT.Web.Pages.PracticeGroupModel

@{
    Layout = "_CandidatePortalLayout.cshtml";
}

<div class="container main">
    <partial name="_MainTitle" />

    <div>
        @await Component.InvokeAsync("Search")
    </div>

    <div class="row vacancy-list">
        <div class="col-sm-12 col-lg-3 d-flex flex-column justify-content-between">
            <span class="side-heading">Browse by <span>vacancies</span></span>
            <div class="pb-4 d-none d-lg-block">
                <img src="~/images/logo/logo-icon.png" />
            </div>
        </div>
        <div class="col-sm-12 col-lg-9">
            <div class="d-flex flex-column">
                @if (Model.Vacancies.Count > 0)
                {
                    <span class="title text-black-50 d-none d-lg-block">Select a vacancy</span>
                    <div class="card d-flex">
                        <div class="heading">
                            <span>@Model.PracticeGroup.Name</span>
                        </div>
                        <div class="d-flex flex-row flex-wrap gap-3 p-2 list">
                            @foreach (var vacancy in Model.Vacancies)
                            {
                                <partial name="Vacancy/_VacancyCard" model="vacancy" />
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="card text-center">
                        <h1>No Vacancies Available</h1>
                    </div>
                }
            </div>
        </div>
    </div>
</div>