//       SUMMARY TABLE
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: $grey;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $pink;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}


.light-pink {
	color: $lightpink;
}

h1 {
	font-size: 2.4rem;
	font-family: 'Merriweather';
	font-weight: 300;
	line-height: 3.4rem;
	max-width: 83rem;
	margin: 0 auto;

	@include breakpoint(991px) {
		font-size: 4.2rem;
		line-height: 5rem;
	}
}

h2 {
	font-size: 4.4rem;
	font-family: 'Merriweather';
	font-weight: 300;
	line-height: 6rem;

	&.bold {
		font-weight: 700;
	}

	@include breakpoint(991px) {
		font-size: 3rem;
		line-height: 3.9rem;
	}
}

h3 {
	font-size: 4.2rem;
	font-family: 'Merriweather';
	font-weight: 300;
	line-height: 5.2rem;

	&.bold {
		font-weight: 700;
	}

	@include breakpoint(991px) {
		font-size: 2.8rem;
		line-height: 3.5rem;
	}
}

h4 {
	font-size: 3rem;
	font-family: 'Open Sans';
	font-weight: 300;
	line-height: 3.9rem;

	&.regular {
		font-weight: 400;
	}

	&.bold {
		font-weight: 600;
	}

	@include breakpoint(991px) {
		font-size: 2.6rem;
		line-height: 3.4rem;
	}
}

h5 {
	font-size: 2.6rem;
	font-family: 'Open Sans';
	font-weight: 700;
	line-height: 3.4rem;

	&.regular {
		font-weight: 400;
	}

	@include breakpoint(991px) {
		font-size: 2.2rem;
		line-height: 2.8rem;
	}
}

h6 {
	font-size: 1.4rem;
	font-family: 'Open Sans';
	font-weight: 700;
	line-height: 1.8rem;

	&.medium {
		font-weight: 600;
	}
}

p {
	font-size: 1.8rem;
	line-height: 2.5rem;

	&.bold,
	b {
		font-weight: 700;
	}

	@include breakpoint(991px) {
		font-size: 1.6rem;
		line-height: 2.2rem;
	}

	strong {
		font-weight: 700;
	}

	a {
		color: $pink;
		font-weight: 700;
		@include transition(color 0.4s $smooth);

		&:hover {
			color: $ctapink;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	strong {
		color: $pink;
	}
}


.dark {
	color: #fff;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		strong {
			color: $lightpink;
		}
	}

	.rich-text {
		ol li:before {
			color: $lightpink;
		}

		ul li:before {
			background-color: $lightpink;
		}

		a {
			color: $lightpink;

			&:hover {
				color: #fff;
			}
		}

		blockquote:before,
		blockquote:after {
			color: $lightpink;
		}

		code {
			color: $lightpink;
		}
	}
}

.side-heading {
	font-family: 'Merriweather';
	font-size: 4rem;

	@media screen and (max-width: $breakpoint-sm) {
		font-size: 3rem;
	}

	& span {
		color: $pink;
		display: block;
	}
}

.text {
	&-heading {
		font-size: 5.4rem;
	}
}
.rich-text {
	line-height: 1.2; /* updated line height */
	font-size: 1rem;
	white-space: normal;
	display: block;
}

/* Paragraphs */
.rich-text p {
	margin: 0 0 0.75rem 0 !important; /* slightly reduced bottom margin */
}

/* Lists */
.rich-text ol,
.rich-text ul {
	margin: 0 0 0.75rem 1.5rem !important;
	padding-left: 1.5rem !important;
}

/* List items */
.rich-text li {
	margin-bottom: 0.35rem !important;
	list-style-position: outside !important;
}

/* Indentation */
.rich-text .ql-indent-1 {
	margin-left: 2em !important;
}

.rich-text .ql-indent-2 {
	margin-left: 4em !important;
}

.rich-text .ql-indent-3 {
	margin-left: 6em !important;
}

.rich-text .ql-indent-4 {
	margin-left: 8em !important;
}

.rich-text .ql-indent-5 {
	margin-left: 10em !important;
}

.rich-text .ql-indent-6 {
	margin-left: 12em !important;
}

.rich-text .ql-indent-7 {
	margin-left: 14em !important;
}

.rich-text .ql-indent-8 {
	margin-left: 16em !important;
}

.rich-text .ql-indent-9 {
	margin-left: 18em !important;
}

.rich-text .ql-indent-10 {
	margin-left: 20em !important;
}

/* Links */
.rich-text a {
	color: #1a0dab;
	text-decoration: underline;
}

/* Blockquotes */
.rich-text blockquote {
	border-left: 4px solid #ddd;
	margin: 1rem 0;
	padding-left: 1rem;
	color: #555;
	font-style: italic;
}

/* Hide empty paragraphs */
.rich-text p:empty {
	display: none !important;
}
