//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: $grey;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $pink;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}


.light-pink {
	color: $lightpink;
}

/* Normalize heading sizes in candidate view to proper hierarchy */
h1 {
    font-size: 4.2rem;
    font-family: 'Merriweather';
    font-weight: 700;
    line-height: 5rem;
    margin: 2rem 0 1.2rem;
}

h2 {
    font-size: 3.6rem;
    font-family: 'Merriweather';
    font-weight: 600;
    line-height: 4.2rem;
    margin: 1.8rem 0 1rem;
}

h3 {
    font-size: 3rem;
    font-family: 'Merriweather';
    font-weight: 600;
    line-height: 3.6rem;
    margin: 1.6rem 0 .8rem;
}

h4 {
	font-size: 3rem;
	font-family: 'Open Sans';
	font-weight: 300;
	line-height: 3.9rem;

	&.regular {
		font-weight: 400;
	}

	&.bold {
		font-weight: 600;
	}

	@include breakpoint(991px) {
		font-size: 2.6rem;
		line-height: 3.4rem;
	}
}

h5 {
	font-size: 2.6rem;
	font-family: 'Open Sans';
	font-weight: 700;
	line-height: 3.4rem;

	&.regular {
		font-weight: 400;
	}

	@include breakpoint(991px) {
		font-size: 2.2rem;
		line-height: 2.8rem;
	}
}

h6 {
	font-size: 1.4rem;
	font-family: 'Open Sans';
	font-weight: 700;
	line-height: 1.8rem;

	&.medium {
		font-weight: 600;
	}
}

p {
	font-size: 1.8rem;
	line-height: 2.5rem;

	&.bold,
	b {
		font-weight: 700;
	}

	@include breakpoint(991px) {
		font-size: 1.6rem;
		line-height: 2.2rem;
	}

	strong {
		font-weight: 700;
	}

	a {
		color: $pink;
		font-weight: 700;
		@include transition(color 0.4s $smooth);

		&:hover {
			color: $ctapink;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	strong {
		color: $pink;
	}
}

.rich-text {
    /* Ensure default list styles are visible */
    ul { list-style: disc; padding-left: 2.2rem; }
    ol { list-style: decimal; padding-left: 2.2rem; }
	h5 {
		margin: 2rem 0;
	}

	h6 {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}

		strong {
			color: #4e5664;
			font-weight: 600;
		}
	}

    p {
        margin-bottom: 0.8rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	em {
		font-style: italic;
	}

	blockquote {
		margin: 3rem 0;

		&:before {
			content: '“';
			color: $pink;
		}

		&:after {
			content: '”';
			color: $pink;
		}
	}

    /* Remove custom pseudo bullets so native list markers show */
    ul {
        margin: 0;
        li {
            padding-left: 0;
            margin-bottom: 0;
            position: static;
            &:before { content: none; }
            &:last-child { margin-bottom: 0; }
        }
    }

    ol {
        margin: 0;
        counter-reset: none;
        li {
            margin-bottom: 0;
            position: static;
            &:before { content: none; }
            &:last-child { margin-bottom: 0; }
        }
    }
}

.dark {
	color: #fff;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		strong {
			color: $lightpink;
		}
	}

	.rich-text {
		ol li:before {
			color: $lightpink;
		}

		ul li:before {
			background-color: $lightpink;
		}

		a {
			color: $lightpink;

			&:hover {
				color: #fff;
			}
		}

		blockquote:before,
		blockquote:after {
			color: $lightpink;
		}

		code {
			color: $lightpink;
		}
	}
}

.side-heading {
	font-family: 'Merriweather';
	font-size: 4rem;

	@media screen and (max-width: $breakpoint-sm) {
		font-size: 3rem;
	}

	& span {
		color: $pink;
		display: block;
	}
}

.text {
	&-heading {
		font-size: 5.4rem;
	}
}

/* Quill rich text indentation and alignment support */
.ql-indent-1 { margin-left: 1.5rem; }
.ql-indent-2 { margin-left: 3rem; }
.ql-indent-3 { margin-left: 4.5rem; }
.ql-indent-4 { margin-left: 6rem; }
.ql-indent-5 { margin-left: 7.5rem; }
.ql-indent-6 { margin-left: 9rem; }
.ql-align-center { text-align: center; }
.ql-align-right { text-align: right; }
.ql-align-justify { text-align: justify; }